body {
    font-family: 'Montaga';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    letter-spacing: 0.03em;
    text-indent: 64px;
    margin: 0;
    padding: 0;
    background: url('C:/projetos/Dulcolax/assets/img_back_header.png') no-repeat center center;
    color: #ffffff;
}

header {
    position: absolute;
    width: 90%;
    top: 0;
    z-index: 10;
}

.menu-background {
    position: absolute;
    width: 100%;
    height: 208px;
    top: 0;
    background: linear-gradient(180deg, #ff5e00 -16.59%, rgba(255, 235, 13, 0) 100%);
    opacity: 0.23;
    z-index: -1;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    flex-wrap: wrap; /* Permitir que os itens fiquem em várias linhas */
}

.logo img {
    width: 102px;
    height: 43px;
}

.menu {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    flex-wrap: wrap; /* Permitir que os itens fiquem em várias linhas */
}

.menu li a {
    color: #aeff00;
    text-decoration: none;
    font-size: 18px;
}

.menu li a:hover {
    text-decoration: underline;
}

.social-icons {
    display: flex;
    gap: 20px;
    flex-wrap: wrap; /* Permitir que os itens fiquem em várias linhas */
}

.social-icons a img {
    width: 24px;
    height: 24px;
}

.language {
    display: flex;
    gap: 10px;
}

.language a {
    color: #51ff00;
    text-decoration: none;
    font-size: 18px;
}

.language a:hover {
    text-decoration: underline;
}

/* Media Queries para responsividade */

@media (max-width: 768px) {
    nav {
        flex-direction: column; /* Alterar direção do layout para coluna */
        align-items: flex-start;
    }

    .menu {
        flex-direction: column; /* Alterar direção do menu para coluna */
        gap: 10px; /* Reduzir o espaço entre os itens */
    }

    .social-icons {
        margin-top: 20px; /* Adicionar espaço acima dos ícones sociais */
    }

    .language {
        margin-top: 20px; /* Adicionar espaço acima dos links de linguagem */
    }
}

@media (max-width: 480px) {
    .logo img {
        width: 80px; /* Reduzir tamanho da logo */
        height: 34px;
    }

    .menu li a {
        font-size: 16px; /* Reduzir tamanho da fonte do menu */
    }

    .language a {
        font-size: 16px; /* Reduzir tamanho da fonte dos links de linguagem */
    }
}

main {
    text-align: center;
    padding: 60px 20px;
    margin-top: 208px;
}

.section-intro {
    padding-top: 100px;
}

.section-intro h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.section-intro p {
    font-size: 18px;
    margin-bottom: 40px;
}

section {
    margin: 60px 0;
    padding: 20px;
    border-radius: 8px;
}

footer {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    text-align: center;
    font-size: 12px;
}

footer .footer-content p {
    margin: 5px 0;
}
